@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
#main-header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: transparent;
  z-index: 9;
  padding: 0 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#main-header.fixed {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#main-header.fixed .navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#main-header .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 19px;
  position: relative;
  display: block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#main-header .navbar-light .navbar-nav .nav-link:after {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#main-header .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#main-header .navbar-light .navbar-nav .nav-link:hover:after {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.connectBtn a {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  display: flex;
  border-width: 1px;
  border-style: solid;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem;
  border-color: rgba(26, 28, 31, 0.1);
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255);
}
.connectBtn a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.connectBtn a svg {
  margin-right: 0.5rem;
  color: rgb(255, 255, 255);
}
.connectBtn a span {
  color: rgb(255, 255, 255);
}

.navbar-brand {
  font-size: 24px;
}

.navbar-brand h1 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.navbar-light .navbar-brand {
  font-weight: bold;
  color: #000 !important;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/toggler.svg);
}

@media (min-width: 992px) {
  .navbar-nav .active a {
    border-bottom: 2px solid #2e3192;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-nav .nav-item:not(:last-child) {
    padding: 0 25px;
    position: relative;
  }

  .navbar-nav .nav-item:last-child {
    padding-left: 30px;
  }
}
body {
  background-color: transparent;
  background-image: url(../images/body-bg.png);
  background-position: 0px 0px;
  background-size: auto;
  font-family: "Montserrat", sans-serif;
}

.heading.banner {
  margin-top: 200px;
}
.heading h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 20px;
  padding-left: 15px;
}

input[type=radio] {
  position: absolute;
  right: 9000px;
}

input[type=radio] + .label-text:before {
  content: "\f10c";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}

input[type=radio]:checked + .label-text:before {
  content: "\f192";
  color: rgb(115, 74, 224);
  animation: effect 250ms ease-in;
}

input[type=radio]:disabled + .label-text {
  color: #aaa;
}

input[type=radio]:disabled + .label-text:before {
  content: "\f111";
  color: #ccc;
}

@keyframes effect {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
section.week-jackpot {
  margin-bottom: 200px;
  position: relative;
}
section.week-jackpot .container-fluid {
  position: relative;
}
section.week-jackpot .jackpot-bg {
  position: absolute;
  left: 30px;
  top: 0;
  width: calc(100% - 60px);
}
section.week-jackpot .jackpot-bg img {
  width: 100%;
}
section.week-jackpot .coin1 {
  position: absolute;
  left: 50%;
  top: -50px;
  animation: move1 8s infinite;
}
section.week-jackpot .coin1 img {
  width: 150px;
}
section.week-jackpot .coin2 {
  position: absolute;
  left: 46%;
  top: 130px;
  animation: move2 8s infinite;
}
section.week-jackpot .coin2 img {
  width: 190px;
  transform: rotate(-45deg);
}
section.week-jackpot .jackpot-left {
  float: left;
  position: relative;
  padding-top: 100px;
  padding-left: 80px;
}
section.week-jackpot .jackpot-left h4 {
  color: #fff;
  font-size: 20px;
}
section.week-jackpot .jackpot-left h1 {
  color: #000;
  font-size: 60px;
  font-weight: 900;
}
section.week-jackpot .jackpot-left h1 span {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
section.week-jackpot .jackpot-right {
  float: right;
  position: relative;
  padding-top: 100px;
  padding-right: 80px;
}
section.week-jackpot .jackpot-right h4 {
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 20px;
}
section.week-jackpot .jackpot-right #timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
section.week-jackpot .jackpot-right .number-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 33px;
  color: #fff;
  font-weight: 400;
}
section.week-jackpot .jackpot-right .number-list .item {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
  color: #fff;
  font-weight: 900;
  font-family: sans-serif;
  padding: 10px;
  background-color: #000;
}
section.week-jackpot .jackpot-right .unit-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
section.week-jackpot .jackpot-right .unit-list .item {
  width: 72px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
}
section.week-jackpot .jackpot-right .timer-end {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #0B2039;
  font-weight: 700;
  font-family: sans-serif;
}

@keyframes move1 {
  0% {
    top: -50px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: -50px;
  }
}
@keyframes move2 {
  0% {
    top: 130px;
  }
  50% {
    top: 160px;
  }
  100% {
    top: 130px;
  }
}
@media (max-width: 1400px) {
  section.week-jackpot .jackpot-left,
section.week-jackpot .jackpot-right {
    padding-top: 50px;
  }

  section.week-jackpot .coin1 img {
    width: 130px;
  }

  section.week-jackpot .coin2 img {
    width: 150px;
  }

  section.week-jackpot .jackpot-left h1 {
    font-size: 50px;
  }
}
@media (max-width: 1200px) {
  section.week-jackpot .coin1 {
    left: 47%;
  }

  section.week-jackpot .coin2 {
    left: 44%;
  }
}
@media (max-width: 991px) {
  section.week-jackpot .jackpot-bg,
section.week-jackpot .coin1,
section.week-jackpot .coin2 {
    display: none;
  }

  section.week-jackpot {
    background-color: #A53EB8;
  }

  section.week-jackpot .jackpot-left {
    padding-left: 0;
    float: none;
  }

  section.week-jackpot .jackpot-right {
    padding-left: 0;
    float: none;
    padding-bottom: 40px;
  }

  section.week-jackpot .jackpot-right #timer {
    align-items: flex-start;
  }

  section.week-jackpot .jackpot-right .number-list {
    justify-content: flex-start;
  }

  section.week-jackpot .jackpot-right .unit-list {
    justify-content: flex-start;
  }

  .heading h2 {
    font-size: 30px;
  }
}
section.week-lottery {
  margin-bottom: 200px;
  position: relative;
}
section.week-lottery .container-fluid {
  position: relative;
}
section.week-lottery .jackpot-bg {
  position: absolute;
  left: 30px;
  top: 0;
  width: calc(100% - 60px);
}
section.week-lottery .jackpot-bg img {
  width: 100%;
}
section.week-lottery .jackpot-left {
  float: left;
  position: relative;
  padding-top: 100px;
  padding-left: 80px;
}
section.week-lottery .jackpot-left h4 {
  color: #fff;
  font-size: 20px;
}
section.week-lottery .jackpot-left h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
}
section.week-lottery .jackpot-left h1 span {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
section.week-lottery .jackpot-right {
  float: right;
  position: relative;
  padding-top: 100px;
  padding-right: 80px;
}
section.week-lottery .jackpot-right .combination {
  float: left;
  margin-right: 50px;
}
section.week-lottery .jackpot-right .combination h4 {
  color: #fff;
  font-size: 20px;
}
section.week-lottery .jackpot-right .combination ul {
  padding: 0;
  margin: 0;
  display: flex;
}
section.week-lottery .jackpot-right .combination ul li {
  list-style: none;
  margin-right: 10px;
  background-image: url(../images/combine_bg.png);
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  padding: 25px 29px;
  font-size: 26px;
  color: #fff;
  font-weight: 900;
  text-align: center;
}
section.week-lottery .jackpot-right .ticket {
  float: left;
  padding-top: 40px;
}
section.week-lottery .jackpot-right .ticket a {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-size: 15px;
}
section.week-lottery .jackpot-right .ticket a:hover {
  text-decoration: none;
  opacity: 0.6;
}

@media (max-width: 1400px) {
  section.week-lottery .jackpot-left,
section.week-lottery .jackpot-right {
    padding-top: 50px;
  }

  section.week-lottery .jackpot-left h1 {
    font-size: 50px;
  }
}
@media (max-width: 1200px) {
  section.week-lottery .jackpot-bg {
    display: none;
  }

  section.week-lottery {
    padding-bottom: 40px;
    background: rgb(115, 74, 224);
    background: linear-gradient(90deg, rgb(115, 74, 224) 0%, rgb(115, 74, 224) 35%, rgb(115, 74, 223) 100%);
  }

  section.week-lottery .jackpot-left,
section.week-lottery .jackpot-right {
    padding-left: 0;
    float: none;
  }
}
@media (max-width: 991px) {
  section.week-lottery .jackpot-bg {
    display: none;
  }

  section.week-lottery {
    background: rgb(115, 74, 224);
    background: linear-gradient(90deg, rgb(115, 74, 224) 0%, rgb(115, 74, 224) 35%, rgb(115, 74, 223) 100%);
  }

  section.week-lottery .jackpot-right {
    padding-right: 0;
  }

  section.week-lottery .jackpot-right .combination {
    margin-right: 0;
  }

  section.week-lottery .jackpot-right .combination ul li {
    margin-right: 0;
    width: 54px;
    height: 54px;
    background-size: 100%;
    font-size: 20px;
    padding: 13px;
  }
}
section.statistics {
  padding: 0 15px;
  margin-bottom: 40px;
}
section.statistics .stats-inner {
  position: relative;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 50px;
  background: rgb(115, 74, 224);
  min-height: 344px;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(115, 74, 224) 0%, rgb(115, 74, 224) 35%, rgb(115, 74, 223) 100%);
}
section.statistics .stats-inner .stamp {
  position: absolute;
  right: 30px;
  top: -50px;
  animation: move 5s infinite;
}
section.statistics .stats-inner .stamp img {
  width: 100px;
}
section.statistics .stats-inner h5 {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
section.statistics .stats-inner h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 900;
  margin-top: 50px;
}
section.statistics .stats-inner h2 span {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
section.statistics .stats-inner h4 {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 30px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-bottom: 20px;
}
section.statistics .stats-inner a.deposit-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  background-color: #A53EB8;
  color: #000;
  font-size: 15px;
  margin-bottom: 10px;
}
section.statistics .stats-inner a.withdraw-btn {
  display: block;
  width: calc(100% - 60px);
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
section.statistics .stats-inner a:hover {
  text-decoration: none;
  opacity: 0.6;
}

@keyframes move {
  0% {
    top: -50px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: -50px;
  }
}
section.outglow {
  padding: 0 15px;
}
section.outglow .outglow-inner {
  position: relative;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 50px;
  background: rgb(115, 74, 224);
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(115, 74, 224) 0%, rgb(115, 74, 224) 35%, rgb(115, 74, 223) 100%);
}
section.outglow .outglow-inner .glow-left {
  float: left;
}
section.outglow .outglow-inner .glow-right {
  float: right;
}
section.outglow .outglow-inner h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 10px;
}
section.outglow .outglow-inner p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
section.outglow .outglow-inner a {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}

section.prizes {
  padding: 0 15px;
}
section.prizes .status-filter {
  margin: 50px 0 20px 0;
}
section.prizes .status-filter .form-check {
  float: left;
  margin-right: 50px;
  padding-left: 0;
}
section.prizes .status-filter .form-check label {
  color: #fff;
}
section.prizes .status-filter .form-check label span {
  cursor: pointer;
  padding: 8px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
section.prizes .prizes-head p {
  padding: 15px;
  font-size: 13px;
  color: #fff;
}
section.prizes .prizes-data {
  padding: 20px;
  border-radius: 15px;
  background: rgb(115, 74, 224);
  margin-bottom: 20px;
  background: linear-gradient(90deg, rgb(115, 74, 224) 0%, rgb(115, 74, 224) 35%, rgb(115, 74, 223) 100%);
}
section.prizes .prizes-data p {
  padding: 20px 0;
  font-size: 15px;
  color: #fff;
  margin: 0;
}
section.prizes .prizes-data .combination {
  float: left;
  margin-right: 50px;
}
section.prizes .prizes-data .combination ul {
  padding: 0;
  margin: 0;
  display: flex;
}
section.prizes .prizes-data .combination ul li {
  list-style: none;
  background-image: url(../images/combine_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  padding: 17px 21px;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 767px) {
  section.prizes .status-filter .form-check:last-child {
    margin-right: 0;
  }
  section.prizes .prizes-head {
    display: none;
  }
  section.prizes .prizes-data .combination ul li {
    margin-right: 0;
    width: 48px;
    height: 48px;
    background-size: 100%;
    font-size: 20px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  section.prizes .status-filter .form-check {
    margin-bottom: 20px;
  }
  section.prizes .status-filter .form-check:last-child {
    margin-bottom: 0;
  }
}
section.ticket-filters {
  padding: 0 15px;
  margin-bottom: 30px;
}
section.ticket-filters .filter-left {
  float: left;
}
section.ticket-filters .filter-left p {
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  padding-left: 15px;
}
section.ticket-filters .filter-right {
  float: right;
}
section.ticket-filters .filter-right .number {
  font-size: 18px;
  color: #fff;
  margin-right: 50px;
  float: left;
  padding: 10px 0;
}
section.ticket-filters .filter-right .number svg {
  fill: #fff !important;
  margin-right: 15px;
}
section.ticket-filters .filter-right a {
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 30px;
  color: #fff;
  background-color: rgb(115, 74, 224);
}
section.ticket-filters .filter-right a:hover {
  text-decoration: none;
  opacity: 0.6;
}
section.all-tickets {
  padding: 0 15px;
}
section.all-tickets .ticket-detail {
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  section.all-tickets .ticket-detail {
    padding: 30px;
    background-color: rgb(115, 74, 224);
    border-radius: 30px;
  }
}
section.all-tickets .ticket-detail .ticket-bg {
  position: absolute;
  top: 0;
  left: 0;
}
section.all-tickets .ticket-detail .ticket-bg img {
  width: 100%;
}
@media (max-width: 480px) {
  section.all-tickets .ticket-detail .ticket-bg {
    display: none;
  }
}
section.all-tickets .ticket-detail .ticket-left {
  position: relative;
  float: left;
}
section.all-tickets .ticket-detail .ticket-left .combination {
  float: left;
  margin-right: 50px;
  padding: 36px 30px;
}
section.all-tickets .ticket-detail .ticket-left .combination ul {
  padding: 0;
  margin: 0;
  display: flex;
}
section.all-tickets .ticket-detail .ticket-left .combination ul li {
  list-style: none;
  background-image: url(../images/combine_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  padding: 17px 21px;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 767px) {
  section.all-tickets .ticket-detail .ticket-left .combination {
    padding: 20px;
    margin-right: 0;
  }
  section.all-tickets .ticket-detail .ticket-left .combination ul li {
    margin-right: 0;
    width: 48px;
    height: 48px;
    background-size: 100%;
    font-size: 20px;
    padding: 10px;
  }
}
section.all-tickets .ticket-detail .ticket-right {
  position: relative;
  float: right;
}
section.all-tickets .ticket-detail .ticket-right p {
  font-size: 20px;
  color: #fff;
  padding: 15px;
}
@media (max-width: 480px) {
  section.all-tickets .ticket-detail .ticket-right {
    float: none;
  }
  section.all-tickets .ticket-detail .ticket-right p {
    text-align: center;
  }
}
section.pagination {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 50px;
}
section.pagination ul {
  float: right;
  padding: 0;
  margin: 0;
}
section.pagination ul li {
  float: left;
  margin-left: 10px;
  list-style: none;
}
section.pagination ul li a {
  width: 30px;
  height: 30px;
  background-color: rgb(115, 74, 224);
  color: #fff;
  font-size: 15px;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  padding: 5px;
}
section.pagination ul li a:hover {
  opacity: 0.6;
}

section.deposit {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}
section.deposit form {
  width: 550px;
  max-width: 550px;
}
section.deposit h2 {
  text-align: center;
}
section.deposit .info-msg {
  background-color: rgb(115, 74, 224);
  font-size: 13px;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  display: flex;
  margin-bottom: 30px;
}
section.deposit .info-msg i {
  margin-right: 20px;
  font-size: 20px;
}
section.deposit .form-group {
  position: relative;
  margin-bottom: 80px;
}
section.deposit label {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
section.deposit input {
  font-size: 14px;
  color: #fff;
  background-color: rgba(115, 74, 224, 0.2);
  border: 1px solid rgba(115, 74, 224, 0.2);
  border-radius: 30px;
}
section.deposit input:focus {
  background-color: rgba(115, 74, 224, 0.2);
  border: 1px solid rgba(115, 74, 224, 0.2);
}
section.deposit input.submit-btn {
  background-color: #fff;
  width: 100%;
  text-align: center;
  color: #000;
}
section.deposit input.submit-btn:hover {
  opacity: 0.6;
}
section.deposit input.submit-btn + p {
  font-size: 12px;
  text-align: center;
  color: rgba(115, 74, 224, 0.6);
  margin-top: 10px;
}
section.deposit .infobox {
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 7px;
}
section.deposit .infobox i {
  cursor: pointer;
}
section.deposit .snap {
  position: absolute;
  right: 30px;
  top: 42px;
  font-size: 14px;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
