@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
body {
    background-color: transparent;
    background-image: url(../images/body-bg.png);
    background-position: 0px 0px;
    background-size: auto;
    font-family: 'Montserrat', sans-serif;
}
.heading {
    &.banner {
        margin-top: 200px;
    }
    h2 {
        font-size: 40px;
        color: #fff;
        font-weight: 900;
        margin-bottom: 20px;
        padding-left: 15px;
    }
}
section {
    &.week-jackpot {
        margin-bottom: 200px;
        position: relative;
        .container-fluid {
            position: relative;
        }
        .jackpot-bg {
            position: absolute;
            left: 30px;
            top: 0;
            width: calc(100% - 60px);
            img {
                width: 100%;
            }
        }
        .coin1 {
            position: absolute;
            left: 50%;
            top: -50px;
            animation: move1 8s infinite;
            img {
                width: 150px;
            }
        }
        .coin2 {
            position: absolute;
            left: 46%;
            top: 130px;
            animation: move2 8s infinite;
            img {
                width: 190px;
                transform: rotate(-45deg);
            }
        }
        .jackpot-left {
            float: left;
            position: relative;
            padding-top: 100px;
            padding-left: 80px;
            h4 {
                color: #fff;
                font-size: 20px;
            }
            h1 {
                color: #000;
                font-size: 60px;
                font-weight: 900;
                span {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
        .jackpot-right {
            float: right;
            position: relative;
            padding-top: 100px;
            padding-right: 80px;
            h4 {
                color: #fff;
                font-size: 20px;
                padding-left: 15px;
                margin-bottom: 20px;
            }
            #timer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-bottom: 30px;
            }
            .number-list {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 33px;
                color: #fff;
                font-weight: 400;
            }
            .number-list .item {
                width: 60px;
                height: 60px;
                margin-right: 15px;
                margin-left: 15px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 33px;
                color: #fff;
                font-weight: 900;
                font-family: sans-serif;
                padding: 10px;
                background-color: #000;
            }
            .unit-list {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }
            .unit-list .item {
                width: 72px;
                margin-right: 15px;
                margin-left: 15px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
                font-family: sans-serif;
            }
                
            .timer-end {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                color: #0B2039;
                font-weight: 700;
                font-family: sans-serif;
            }
        }
    }
}
@keyframes move1 {
    0% {top: -50px;}
    50% {top: -20px;}
    100% {top: -50px;}
}
@keyframes move2 {
    0% {top: 130px;}
    50% {top: 160px;}
    100% {top: 130px;}
}
@media (max-width:1400px) {
    section.week-jackpot .jackpot-left,
    section.week-jackpot .jackpot-right {
        padding-top: 50px;
    }
    section.week-jackpot .coin1 img {
        width: 130px;
    }
    section.week-jackpot .coin2 img {
        width: 150px;
    }
    section.week-jackpot .jackpot-left h1 {
        font-size: 50px;
    }
}
@media (max-width:1200px) {
    section.week-jackpot .coin1 {
        left: 47%;
    }
    section.week-jackpot .coin2 {
        left: 44%;
    }
}
@media (max-width:991px) {
    section.week-jackpot .jackpot-bg,
    section.week-jackpot .coin1,
    section.week-jackpot .coin2{
        display: none;
    }
    section.week-jackpot {
        background-color: #A53EB8;
    }
    section.week-jackpot .jackpot-left {
        padding-left: 0;
        float: none;
    }
    section.week-jackpot .jackpot-right {
        padding-left: 0;
        float: none;
        padding-bottom: 40px;
    }
    section.week-jackpot .jackpot-right #timer {
        align-items: flex-start;
    }
    section.week-jackpot .jackpot-right .number-list {
        justify-content: flex-start;
    }
    section.week-jackpot .jackpot-right .unit-list {
        justify-content: flex-start;
    }
    .heading h2 {
        font-size: 30px;
    }
}

section {
    &.week-lottery {
        margin-bottom: 200px;
        position: relative;
        .container-fluid {
            position: relative;
        }
        .jackpot-bg {
            position: absolute;
            left: 30px;
            top: 0;
            width: calc(100% - 60px);
            img {
                width: 100%;
            }
        }
        .jackpot-left {
            float: left;
            position: relative;
            padding-top: 100px;
            padding-left: 80px;
            h4 {
                color: #fff;
                font-size: 20px;
            }
            h1 {
                color: #fff;
                font-size: 60px;
                font-weight: 900;
                span {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
        .jackpot-right {
            float: right;
            position: relative;
            padding-top: 100px;
            padding-right: 80px;
            .combination {
                float: left;
                margin-right: 50px;
                h4 {
                    color: #fff;
                    font-size: 20px;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    li {
                        list-style: none;
                        margin-right: 10px;
                        background-image: url(../images/combine_bg.png);
                        background-repeat: no-repeat;
                        width: 75px;
                        height: 75px;
                        padding: 25px 29px;
                        font-size: 26px;
                        color: #fff;
                        font-weight: 900;
                        text-align: center;
                    }
                }
            }
            .ticket {
                float: left;
                padding-top: 40px;
                a {
                    display: inline-block;
                    text-align: center;
                    padding: 15px 30px;
                    border-radius: 30px;
                    background-color: #fff;
                    color: #000;
                    font-size: 15px;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

@media (max-width:1400px) {
    section.week-lottery .jackpot-left,
    section.week-lottery .jackpot-right {
        padding-top: 50px;
    }
    section.week-lottery .jackpot-left h1 {
        font-size: 50px;
    }
}
@media (max-width:1200px) {
    section.week-lottery .jackpot-bg{
        display: none;
    }
    section.week-lottery {
        padding-bottom: 40px;
        background: rgb(115,74,224);
        background: linear-gradient(90deg, rgba(115,74,224,1) 0%, rgba(115,74,224,1) 35%, rgba(115,74,223,1) 100%);
    }
    section.week-lottery .jackpot-left,
    section.week-lottery .jackpot-right {
        padding-left: 0;
        float: none;
    }
}
@media (max-width:991px) {
    section.week-lottery .jackpot-bg{
        display: none;
    }
    section.week-lottery {
        background: rgb(115,74,224);
        background: linear-gradient(90deg, rgba(115,74,224,1) 0%, rgba(115,74,224,1) 35%, rgba(115,74,223,1) 100%);
    }
    section.week-lottery .jackpot-right {
        padding-right: 0;
    }
    section.week-lottery .jackpot-right .combination {
        margin-right: 0;
    }
    section.week-lottery .jackpot-right .combination ul li {
        margin-right: 0;
        width: 54px;
        height: 54px;
        background-size: 100%;
        font-size: 20px;
        padding: 13px;    
    }
    
}

section {
    &.statistics {
        padding: 0 15px;
        margin-bottom: 40px;
        .stats-inner {
            position: relative;
            padding: 30px;
            border-radius: 12px;
            margin-bottom: 50px;
            background: rgb(115,74,224);
            min-height: 344px;
            box-sizing: border-box;
            background: linear-gradient(90deg, rgba(115,74,224,1) 0%, rgba(115,74,224,1) 35%, rgba(115,74,223,1) 100%);
            .stamp {
                position: absolute;
                right: 30px;
                top: -50px;
                animation: move 5s infinite;
                img {
                    width: 100px;
                }
            }
            h5 {
                font-size: 13px;
                color: rgba(255, 255, 255, 0.6);
            }
            h2 {
                font-size: 40px;
                color: #fff;
                font-weight: 900;
                margin-top: 50px;
                span {
                    font-size: 13px;
                    color: rgba(255, 255, 255, 0.6);
                    font-weight: 400;
                }
            }
            h4 {
                font-size: 12px;
                padding: 5px 10px;
                border-radius: 30px;
                color: #fff;
                border: 1px solid rgba(255, 255, 255, 0.6);;
                display: inline-block;
                margin-bottom: 20px;
            }
            a {
                &.deposit-btn {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 15px;
                    border-radius: 30px;
                    background-color: #A53EB8;
                    color: #000;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
                &.withdraw-btn {
                    display: block;
                    width: calc(100% - 60px);
                    text-align: center;
                    padding: 15px;
                    border-radius: 30px;
                    background-color: #fff;
                    color: #000;
                    font-size: 15px;
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                }
                &:hover {
                    text-decoration: none;
                    opacity: 0.6;
                }
            }
        }
    }
}
@keyframes move {
    0% {top: -50px;}
    50% {top: -30px;}
    100% {top: -50px;}
}

section {
    &.outglow {
        padding: 0 15px;
        .outglow-inner {
            position: relative;
            padding: 30px;
            border-radius: 12px;
            margin-bottom: 50px;
            background: rgb(115,74,224);
            box-sizing: border-box;
            background: linear-gradient(90deg, rgba(115,74,224,1) 0%, rgba(115,74,224,1) 35%, rgba(115,74,223,1) 100%);
            .glow-left {
                float: left;
            }
            .glow-right {
                float: right;
            }
            h2 {
                font-size: 60px;
                color: #fff;
                font-weight: 900;
                margin-bottom: 10px;
            }
            p {
                font-size: 20px;
                color: rgba(255, 255, 255, 0.6);
                margin-bottom: 20px;
            }
            a {
                display: inline-block;
                text-align: center;
                padding: 15px 30px;
                border-radius: 30px;
                background-color: #fff;
                color: #000;
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }
}

section {
    &.prizes {
        padding: 0 15px;
        .status-filter {
            margin: 50px 0 20px 0;
            .form-check {
                float: left;
                margin-right: 50px;
                padding-left: 0;
                label {
                    color: #fff;
                    span {
                        cursor: pointer;
                        padding: 8px 15px;
                        border: 1px solid rgba(255,255,255,0.3);
                        border-radius: 5px;
                    }
                }
            }
        }
        .prizes-head {
            p {
                padding: 15px;
                font-size: 13px;
                color: #fff;
            }
        }
        .prizes-data {
            padding: 20px;
            border-radius: 15px;
            background: rgb(115,74,224);
            margin-bottom: 20px;
            background: linear-gradient(90deg, rgba(115,74,224,1) 0%, rgba(115,74,224,1) 35%, rgba(115,74,223,1) 100%);
            p {
                padding: 20px 0;
                font-size: 15px;
                color: #fff;
                margin: 0;
            }
            .combination {
                float: left;
                margin-right: 50px;
                
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    li {
                        list-style: none;
                        background-image: url(../images/combine_bg.png);
                        background-size: 100%;
                        background-repeat: no-repeat;
                        width: 60px;
                        height: 60px;
                        padding: 17px 21px;
                        font-size: 20px;
                        color: #fff;
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width:767px) {
    section {
        &.prizes {
            .status-filter {
                .form-check {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .prizes-head {
                display: none;
            }
            .prizes-data {
                .combination ul li {
                    margin-right: 0;
                    width: 48px;
                    height: 48px;
                    background-size: 100%;
                    font-size: 20px;
                    padding: 10px;    
                }
            }
        }
    }
}
@media (max-width:480px) {
    section {
        &.prizes {
            .status-filter {
                .form-check {
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

input[type="radio"]{
	position: absolute;
	right: 9000px;
}

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: rgb(115,74,224);
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}

@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}